
<div class="container">

    <section id=header>
        <h3>Github Repositories</h3>
        <div class="input">
            <label for="keyword">Enter Username</label>
            <input type="search" id="search" name="search" title="Search repositories" placeholder="e.g. Kibo007" ng-model='vm.username' ng-model-options="{ debounce: 300 }" >                        
        </div>

    </section>

    <div id="errors" ng-if="vm.error.show">
        <img src="images/error.png" alt="">
        <p>{{vm.error.message}}</p>
    </div>

    <loading-spinner show-if="vm.loading"></loading-spinner>
    <listing-repositories></listing-repositories>    

</div>
